<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title> Cookpad </title>
    <link rel="stylesheet" href="home.scss">
  </head>

 <body>
　<div class="contents">
    <div class="sub-navi">
      <nav>
         <h2>レシピカテゴリー</h2>
         <ul>
           <li><a href="#">野菜のおかず</a></li>
           <li><a href="#">お肉のおかず</a></li>
           <li><a href="#">魚介のおかず</a></li>
           <li><a href="#">ご飯もの</a></li>
           <li><a href="#">麺類</a></li>
         </ul>
       </nav>
      </div>
    <div class="main-contents"
      <figure>
       <a href="#"><img alt="recipe1" height="400" src="/assets/recipe1.png" width="600"/></a>
      </figure>
       <div class="section">
          <h2>本日のおすすめ</h2>
          <p><a href="#">*********料理名*********</a></p>
       </div>
    </div>
  </div>

 </body>
</html>
